<IfModule mod_headers.c>
  HTTP STATUS 200
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: POST, GET, OPTIONS,
Access-Control-Allow-Headers: Content-Type
</IfModule>

<Location "/">
  AllowMethods GET POST OPTIONS
</Location>